<div class="x_title">
    <h4 data-target=".benhsu" data-toggle="collapse" class="cursor" ng-click="benhsu = !benhsu" id="benhsu">
            1. Bệnh sử
            <i class="fa" ng-class="{'fa-chevron-down' : benhsu == true, 'fa-chevron-up' : benhsu == false}"></i>
    </h4>
</div>
<div class="collapse benhsu phieuKham">
    <form class="form-horizontal form-label-left" id="add_follow_student">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Lí do đến khám:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="2" ng-model="inputHealth.lyDoKham"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Bệnh sử:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="2" ng-model="inputHealth.benhSu"></textarea>
            </div>
        </div>
        <div class="divider-dashed"></div>
    </form>
</div>