<div class="x_panel">
    <div class="x_title" ng-init="tt = true">
        <h3 data-toggle="collapse" data-target="#thong_tin" class="cursor" ng-click="tt = !tt" id="h3_thong_tin_benh_nhan">
            Thông tin bệnh nhân {{modalPatient.name}}
            <i class="fa" ng-class="{'fa-chevron-down' : tt == true, 'fa-chevron-up': tt == false}"></i>
        </h3>
    </div>
    <div class="collapse" id="thong_tin">
        <div ui-view="thongtinbenhnhan"></div>
    </div>
</div>
<hr>
<div class="x_panel">
    <div class="alert alert-success" ng-if="success">
        <strong>{{successMessage}}</strong>
    </div>
    <div class="alert alert-danger" ng-if="danger">
        <strong>{{errorMessage}}</strong>
    </div>
    <div class="show-col" ng-init="fa = false">
        <div>
            <h3 data-toggle="collapse" data-target="#phieu_kham" class="cursor" ng-click="fa = !fa">
                Phiếu khám 
                <i class="fa" ng-class="{'fa-chevron-down' : fa == true, 'fa-chevron-up': fa == false}"></i>
            </h3>
            <div class="clear-fix"></div>
        </div>
        <div class="collapse in" id="phieu_kham" ng-init="i = true">
            <span class="pull-right cursor" ng-click="i = !i">
            <span ng-show="i == true" ng-click="collapse('phieuKham', i)">
                Hiện tất cả 
                <i class="fa fa-chevron-down"></i>
            </span>
            <span ng-show="i == false" ng-click="collapse('phieuKham', i)"> 
                Ẩn tất cả 
                <i class="fa fa-chevron-up"></i>
            </span>
            </span>
            <br />
            <div ui-view="benhsu"></div>
            <div ui-view="thamkhamlamsang"></div>
            <div ui-view="canlamsang"></div>
            <div ui-view="chuandoan"></div>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
    <input type="text" class="form-control col-md-8 col-xs-12" ng-model="modalPatient.string" ng-change="sh(modalPatient.string)">
</div>