<div class="x_title" ng-init="khuyettat = true">
    <h4 data-target=".khuyettat" data-toggle="collapse" class="cursor" ng-click="khuyettat = !khuyettat" id="khuyettat">
        3. Khuyết tật 
        <i class="fa" ng-class="{'fa-chevron-down' : khuyettat == true, 'fa-chevron-up' : khuyettat == false}"></i>
    </h4>
</div>
<div class="collapse khuyettat themThongTin">
    <form class="form-horizontal form-label-left" id="add_follow_student">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Thính lực:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="inputPatient.thinhLuc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Thị lực:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="inputPatient.thiLuc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Tay chân:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="inputPatient.tay"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Cột sống:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="inputPatient.cotSong"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Khác:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="inputPatient.khuyetTatKhac"></textarea>
            </div>
        </div>
        <div class="divider-dashed"></div>
    </form>
</div>