<div ng-if="show == 'client-patient' || show == 'admin-pa'">
    <div class="" ng-show="bv == 'them'">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                    <h3 data-target="" data-toggle="collapse" class="cursor">Thêm dữ liệu bệnh nhân</h3>
                </div>
                <div class="x_content" id="themdulieubenhnhan">
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                            <li role="presentation" class="active"><a class="cursor" data-target="#thongtinchung" role="tab" data-toggle="tab" aria-expanded="false">Thông tin cá nhân</a>
                            </li>
                            <li role="presentation" ng-class="{active : currentUrl == '/information'}"><a data-target="#thongtinsuckhoe" class="cursor" role="tab" data-toggle="tab" aria-expanded="true">Thông tin sức khỏe</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="thongtinchung" aria-labelledby="home-tab">
                                <div class="col-md-12 col-sm-12 col-xs-12" id="">
                                    <div class="x_panel">
                                        <div class="alert alert-success" ng-if="success">
                                            <strong>{{successMessage}}</strong>
                                        </div>
                                        <div class="alert alert-danger" ng-if="danger">
                                            <strong>{{errorMessage}}</strong>
                                        </div>
                                        <div ui-view="thongtincanhan"></div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="thongtinsuckhoe" aria-labelledby="profile-tab">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="x_content">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <div class="x_panel">
                                                <div class="alert alert-success" ng-if="success">
                                                    <strong>{{successMessage}}</strong>
                                                </div>
                                                <div class="alert alert-danger" ng-if="danger">
                                                    <strong>{{errorMessage}}</strong>
                                                </div>
                                                <span ng-init="i = true" class="pull-right cursor" ng-click="i = !i">
                                                    <span ng-show="i == true" ng-click="collapse('themThongTin', i)">
                                                        Hiện tất cả 
                                                        <i class="fa fa-chevron-down"></i>
                                                    </span>
                                                <span ng-show="i == false" ng-click="collapse('themThongTin', i)">
                                                        Ẩn tất cả 
                                                        <i class="fa fa-chevron-up"></i>
                                                    </span>
                                                </span>
                                                <div ui-view="tinhtranglucsinh"></div>
                                                <div ui-view="tiensubenhtat"></div>
                                                <div ui-view="khuyettat"></div>
                                                <div ui-view="tiensuphauthuat"></div>
                                                <div ui-view="tiensugiadinh"></div>
                                                <div ui-view="suckhoesinhsan"></div>
                                                <div ui-view="cacbenhkhac"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-4">
                                <button type="submit" class="btn btn-success" ng-click="addPatient()">Thêm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- tatcabenhnhan -->
    <div class="" ng-show="bv == 'tatcabenhnhan'">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md12 col-sm12 col-xs-12" ng-init="getAllPatient()">
                <div class="x_title">
                    <h3 class="cursor">Tất cả bệnh nhân</h3>
                </div>
                <div class="x_panel">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên</th>
                                <th>Ngày sinh</th>
                                <th>Mã Số</th>
                                <th>Địa chỉ</th>
                                <th>Số điện thoại</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="patient in allPatient | orderBy:'-id'">
                                <!-- <th scope="row">{{typeContract.id}}</th> -->
                                <td>{{$index+1}}</td>
                                <td>{{patient.name}}</td>
                                <td>{{patient.dateOfBirth}}</td>
                                <td>{{patient.patientCode}}</td>
                                <td>{{patient.address}}</td>
                                <td>{{patient.phone}}</td>
                                <td>
                                    <a class="cursor" ng-click="selectPatientModal(patient)" data-toggle="modal" data-target="#patient_details">Chi tiết</a>
                                </td>
                                <td class=" ">
                                    <a class="cursor" ng-click="confirmDelete(patient.id, patient.name)" data-toggle="modal" data-target="#delete_patient"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade bs-example-modal-lg" role="dialog" aria-hidden="true" id="patient_details">
                <div class="modal-dialog" style="width: 80vw;">
                    <div class="modal-content" id="show_partner_details_modal_content">
                        <div class="modal-header">
                            <!-- <button type="button" class="close" data-dismiss="modal" id="close_modal_show_partner_details"><span aria-hidden="true">×</span>
                            </button> -->
                            <h4 class="modal-title" id="myModalLabel">Thông tin chi tiết bệnh nhân {{modalPatient.name}}</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger" ng-if="danger_edit">
                                <strong>{{errorMessage}}</strong>
                            </div>
                            <div class="alert alert-success" ng-if="successdelete_edit">
                                <strong>{{successMessage}}</strong>
                            </div>
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a class="cursor" data-target="#thongtinchungmodal" role="tab" data-toggle="tab" aria-expanded="false">Thông tin cá nhân</a>
                                    </li>
                                    <li role="presentation" ng-class="{active : currentUrl == '/information'}"><a data-target="#thongtinsuckhoemodal" class="cursor" role="tab" data-toggle="tab" aria-expanded="true">Thông tin sức khỏe</a>
                                    </li>
                                    <li role="presentation" ng-class="{active : currentUrl == '/information'}"><a data-target="#lichsukham" class="cursor" role="tab" data-toggle="tab" aria-expanded="true">Lịch sử khám bệnh</a>
                                    </li>
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="thongtinchungmodal" aria-labelledby="information-tab">
                                        <!-- <div class="col-md-12 col-sm-12 col-xs-12" id=""> -->
                                        <!-- <div class="x_panel"> -->
                                        <div class="alert alert-success" ng-if="successStudent">
                                            <strong>{{successMessage}}</strong>
                                        </div>
                                        <div class="alert alert-danger" ng-if="dangerStudent">
                                            <strong>{{errorMessage}}</strong>
                                        </div>
                                        <div ui-view="thongtincanhanModal"></div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="thongtinsuckhoemodal" aria-labelledby="contract-tab">
                                        <!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
                                        <!-- <div class="x_content"> -->
                                        <!-- <div class="col-md-12 col-sm-12 col-xs-12"> -->
                                        <!-- <div class="x_panel"> -->
                                        <div class="alert alert-success" ng-if="successStudent">
                                            <strong>{{successMessage}}</strong>
                                        </div>
                                        <div class="alert alert-danger" ng-if="dangerStudent">
                                            <strong>{{errorMessage}}</strong>
                                        </div>
                                        <!-- <span class="pull-right cursor" data-toggle="collapse" data-target=".collapse" ng-click="i = !i">
                                            Hiện tất cả 
                                            <i class="fa fa-chevron-down"></i>
                                        </span> -->
                                        <span ng-init="i = true" class="pull-right cursor" ng-click="i = !i">
                                            <span ng-show="i == true" ng-click="collapse('thongTinModal', i)">
                                                Hiện tất cả 
                                                <i class="fa fa-chevron-down"></i>
                                            </span>
                                        <span ng-show="i == false" ng-click="collapse('thongTinModal', i)">
                                                Ẩn tất cả 
                                                <i class="fa fa-chevron-up"></i>
                                            </span>
                                        </span>
                                        <div ui-view="tinhtranglucsinhModal"></div>
                                        <div ui-view="tiensubenhtatModal"></div>
                                        <div ui-view="khuyettatModal"></div>
                                        <div ui-view="tiensuphauthuatModal"></div>
                                        <div ui-view="tiensugiadinhModal"></div>
                                        <div ui-view="suckhoesinhsanModal"></div>
                                        <div ui-view="cacbenhkhacModal"></div>
                                        <!-- </div> -->
                                        <!-- </div> -->
                                        <!-- </div> -->
                                        <!-- </div> -->
                                    </div>
                                    <div role="tabpanel" class="tab-pane fade" id="lichsukham" aria-labelledby="activity-tab">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Tên</th>
                                                    <th>Mã số</th>
                                                    <th>Lý do khám</th>
                                                    <th>Chuẩn đoán</th>
                                                    <th>Phưong pháp điều trị</th>
                                                    <th>Ngày khám</th>
                                                    <th>Ngày khám lại</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="data in allHealthRecordsOfPatient | orderBy:'-id'" id="tr_contact_{{contact.id}}">
                                                    <!-- <th scope="row">{{typeContract.id}}</th> -->
                                                    <td>{{$index+1}}</td>
                                                    <td>{{data.patient.name}}</td>
                                                    <td>{{data.patient.patientCode}}</td>
                                                    <td ng-bind-html="data.lyDoKham"></td>
                                                    <td ng-bind-html="data.content"></td>
                                                    <td ng-bind-html="data.ppDieuTri"></td>
                                                    <td>{{data.date}}</td>
                                                    <td>{{data.ngayKhamLai}}</td>
                                                    <td>{{data.ngayKhamLai}}</td>
                                                    <td data-toggle="modal" data-target="#phieu_kham_modal" class="cursor" ng-click="selectHealthRecord(data)">
                                                        Chi tiết
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="modal-footer"> -->
                        <!-- </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- client patient -->
    <div class="" ng-show="show == 'client-patient'">
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_content">
                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="bv == 'themba'">
                        <div ui-view="phieukham"></div>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-6" ng-init="getAllHealthRecords()" ng-show="bv == 'tatca'">
                        <div class="x_title">
                            <h3 class="cursor">Tất cả phiếu khám</h3>
                        </div>
                        <div class="x_panel">
                            <div class="alert alert-success" ng-if="successBS">
                                <strong>{{successMessage}}</strong>
                            </div>
                            <div class="alert alert-danger" ng-if="dangerBS">
                                <strong>{{errorMessage}}</strong>
                            </div>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên</th>
                                        <th>Mã số</th>
                                        <th>Lý do khám</th>
                                        <th>Chuẩn đoán</th>
                                        <th>Phưong pháp điều trị</th>
                                        <th>Ngày khám</th>
                                        <th>Ngày khám lại</th>
                                        <th>Chi Tiết</th>
                                        <th>Xoa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="data in allHealthRecords | orderBy:'-id'" id="tr_contact_{{contact.id}}">
                                        <!-- <th scope="row">{{typeContract.id}}</th> -->
                                        <td>{{$index+1}}</td>
                                        <td>{{data.patient.name}}</td>
                                        <td>{{data.patient.patientCode}}</td>
                                        <td ng-bind-html="data.lyDoKham"></td>
                                        <td ng-bind-html="data.content"></td>
                                        <td ng-bind-html="data.ppDieuTri"></td>
                                        <td>{{data.date}}</td>
                                        <td>{{data.ngayKhamLai}}</td>
                                        <td data-toggle="modal" data-target="#phieu_kham_modal" class="cursor" ng-click="selectHealthRecord(data)">
                                            Chi tiết
                                        </td>
                                        <td class=" ">
                                            <a class="cursor" ng-click="confirmDelete(data.id, data.patient.name)" data-toggle="modal" data-target="#delete_health"><i class="fa fa-trash"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" role="dialog" aria-hidden="true" id="phieu_kham_modal">
    <div class="modal-dialog" style="width: 80vw;">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <button type="button" class="close" data-dismiss="modal" id="close_modal_show_partner_details"><span aria-hidden="true">×</span>
                            </button> -->
                <h4 class="modal-title" id="myModalLabel">Thông tin khám bệnh nhân {{inputHealthModal.patient.name}} - mã số: {{inputHealthModal.patient.patientCode}} ngày {{inputHealthModal.date}} </h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="danger_edit">
                    <strong>{{errorMessage}}</strong>
                </div>
                <div class="alert alert-success" ng-if="successdelete_edit">
                    <strong>{{successMessage}}</strong>
                </div>
                <div class="show-col" ng-init="fa = true">
                    <div>
                        <!-- <h3 data-toggle="collapse" data-target="#phieu_kham" class="cursor" ng-click="fa = !fa">
                            Phiếu khám 
                            <i class="fa" ng-class="{'fa-chevron-down' : fa == true, 'fa-chevron-up': fa == false}"></i>
                        </h3> -->
                        <div class="clear-fix"></div>
                    </div>
                    <div class="" ng-init="i = true">
                        <span class="pull-right cursor" ng-click="i = !i">
                            <span ng-show="i == true" ng-click="collapse('phieuKham', i)">
                                Hiện tất cả 
                                <i class="fa fa-chevron-down"></i>
                            </span>
                        <span ng-show="i == false" ng-click="collapse('phieuKham', i)"> 
                                Ẩn tất cả 
                                <i class="fa fa-chevron-up"></i>
                            </span>
                        </span>
                        <br />
                        <div ui-view="benhsuModal"></div>
                        <div ui-view="thamkhamlamsangModal"></div>
                        <div ui-view="canlamsangModal"></div>
                        <div ui-view="chuandoanModal"></div>
                    </div>
                </div>
            </div>
            <!-- <div class="modal-footer"> -->
            <!-- </div> -->
        </div>
    </div>
</div>