<div class="x_title" ng-init="khuyettatMoal = true">
    <h4 data-target=".khuyettatMoal" data-toggle="collapse" class="cursor" ng-click="khuyettatMoal = !khuyettatMoal" id="khuyettatMoal">
        3. Khuyết tật 
        <i class="fa" ng-class="{'fa-chevron-down' : khuyettatMoal == true, 'fa-chevron-up' : khuyettatMoal == false}"></i>
    </h4>
</div>
<div class="collapse khuyettatMoal thongTinModal">
    <form class="form-horizontal form-label-left" id="add_follow_student">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Thính lực:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="modalPatient.thinhLuc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Thị lực:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="modalPatient.thiLuc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Tay chân:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="modalPatient.tay"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Cột sống:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="modalPatient.cotSong"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Khác:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="3" ng-model="modalPatient.khuyetTatKhac"></textarea>
            </div>
        </div>
        <div class="divider-dashed"></div>
    </form>
</div>