<form class="form-horizontal form-label-left">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Họ và tên:</label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Giới tính: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="radio" name="gioitinh" disabled="disabled" ng-model="modalPatient
                                                    .gioiTinh" value="Nam">Nam
            <input type="radio" name="gioitinh" disabled="disabled" ng-model="modalPatient
                                                    .gioiTinh" value="Nữ">Nữ
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Mã số BHYT: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.patientCode">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Địa chỉ: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.address">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Ngày tháng năm sinh: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.dateOfBirth">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nơi sinh: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.noiSinh">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Số điện thoại: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.phone">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Số CMND: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.cmnd">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Dân tộc: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.danToc">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Quốc Tịch: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.quocTich">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Email: </label>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="text" class="form-control col-md-8 col-xs-12" readonly="readonly" ng-model="modalPatient.email">
        </div>
    </div>
</form>