<div class="x_title" ng-init="tiensubenhtatModal = true">
    <h4 data-target=".tiensubenhtatModal" data-toggle="collapse" class="cursor" ng-click="tiensubenhtatModal = !tiensubenhtatModal" id="tiensubenhtatModal">
        2. Tiền sử bệnh tật 
        <i class="fa" ng-class="{'fa-chevron-down' : tiensubenhtatModal == true, 'fa-chevron-up' : tiensubenhtatModal == false}"></i>
    </h4>
</div>
<div class="collapse tiensubenhtatModal thongTinModal">
    <form class="form-horizontal form-label-left" id="add_follow_student">
        <h4>- Dị ứng</h4>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Thuốc:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="2" ng-model="modalPatient.diUngThuoc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Hóa chất:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="2" ng-model="modalPatient.diUngHoaChat"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Thực phẩm:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="2" ng-model="modalPatient.diUngThucPham"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Khác:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="2" ng-model="modalPatient.diUngKhac"></textarea>
            </div>
        </div>
        <div class="divider-dashed"></div>
    </form>
    <h4>- Bệnh tật</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Hen suyễn{{modalPatient.henSuyen}}
                </th>
                <th style="border-right : 1px solid;">
                    <input type="checkbox" ng-checked="modalPatient.henSuyen == 'true'" ng-model="modalPatient.henSuyen">
                </th>
                <th>
                    Bệnh phổi mãn tính {{benhPhoiManTinh}}
                </th>
                <th style="border-right : 1px solid;">
                    <input type="checkbox" ng-checked="modalPatient.benhPhoiManTinh == 'true'" ng-model="modalPatient.benhPhoiManTinh">
                </th>
                <th>
                    Bệnh tim mạch
                </th>
                <th style="border-right : 1px solid;">
                    <input type="checkbox" ng-checked="modalPatient.benhTimMach == 'true'" ng-model="modalPatient.benhTimMach">
                </th>
                <th>
                    Viêm gan
                </th>
                <th style="border-right : 1px solid;">
                    <input type="checkbox" ng-model="modalPatient.viemGan" ng-checked="modalPatient.viemGan == 'true'">
                </th>
                <th>
                    Tâm thần
                </th>
                <th style="border-right : 1px solid;">
                    <input type="checkbox" ng-checked="modalPatient.tamThan == 'true'" ng-model="modalPatient.tamThan">
                </th>
            </tr>
            <tr>
                <th>
                    Bướu cổ
                </th>
                <th style="border-right : 1px solid;">
                    <input type="checkbox" ng-checked="modalPatient.benhBuouCo == 'true'" ng-model="modalPatient.benhBuouCo">
                </th>
                <th>
                    Động kinh
                </th>
                <th style="border-right : 1px solid;">
                    <input type="checkbox" ng-checked="modalPatient.dongKinh == 'true'" ng-model="modalPatient.dongKinh">
                </th>
                <th>
                    Tự kỉ {{tuKi}}
                </th>
                <th style="border-right : 1px solid;">
                    <input type="checkbox" ng-checked="modalPatient.tuKi == 'true'" ng-model="modalPatient.tuKi">
                </th>
                <th>
                    Bệnh dạ dày
                </th>
                <th style="border-right : 1px solid;">
                    <input type="checkbox" ng-checked="modalPatient.benhDaDay == 'true'" ng-model="modalPatient.benhDaDay">
                </th>
                <th style="border-left : 1px solid;">
                    Bệnh đái tháo đưòng
                </th>
                <th>
                    <input type="checkbox" ng-checked="modalPatient.daiThaoDuong == 'true'" ng-model="modalPatient.daiThaoDuong">
                </th>
            </tr>
        </thead>
    </table>
    <form class="form-horizontal form-label-left" id="add_follow_student">
        <div class="form-group">
            <label class="control-label col-md-2 col-sm-2 col-xs-12">Chi tiết:</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <textarea class="form-control" rows="2" ng-model="modalPatient.tieuSuBenh"></textarea>
            </div>
        </div>
        <div class="divider-dashed"></div>
    </form>
</div>